@media screen and (max-width: 500px) {
  .thong_tin {
    display: block;
  }

  .thong_tin > div {
    justify-content: flex-start;
  }

  .bd_right {
    border: none;
  }

  .bd_left {
    border: none;
  }

  .mt_nn {
    display: block;
  }

  .layout_all {
    grid-template-columns: 1fr;
    max-width: 100%;
  }

  .cot {
    grid-template-columns: 1fr;
  }

  .bletf {
    border: none;
    padding: 1em 0 0 0;
    border-top: 1px solid red;
  }

  .da_layout {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .da_layout > div {
    margin-bottom: 2em;
  }

  .lh {
    font-size: 12px;
  }

  .outlay > div {
    display: flex;
  }

  .lay_2cot {
    column-gap: 0.7em;
  }
}
