* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contain {
  display: grid;
  grid-template-columns: 1fr 25%;
  column-gap: 0.5em;
  margin: 1em;
}

.contain i {
  color: black;
}

.goal {
  display: grid;
  grid-template-columns: 1fr 30%;
  column-gap: 0.5em;
}

.goal > div {
  padding: 1em;
  background-color: white;
}

.time_line {
  background-color: white;
  padding: 1em;
}

.marb {
  margin-bottom: 0.5em;
}

.contain h4 {
  margin: 0;
  border-bottom: 1px solid blue;
  color: blue;
}

.layout_one > div {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  padding: 0.5em;
  column-gap: 0.5em;
}

.layout_one > div p {
  margin: 0;
}
.layout_two > div p {
  margin: 0;
}

.layout_two > div {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  column-gap: 0.5em;
}

.layout_there {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
}

.time_line > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
}

.time_line > div > span {
  background-color: violet;
  border-radius: 50%;
  border: 1px solid rgb(180, 76, 180);
  color: white;
  padding: 10px 8px;
}

.time_line > div > div {
  border-bottom: 1px dotted violet;
}

.time_line p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contain {
    display: block;
  }

  .goal {
    display: block;
  }

  .layout_one > div {
    display: block;
  }
  .layout_two > div {
    display: block;
  }

  .layout_one > div > p {
    text-align: center;
  }
  .layout_two > div > p {
    text-align: center;
  }

  .layout_there {
    display: block;
  }

  .time_line > div {
    display: block;
  }

  .time_line > div {
    margin: 1em 0;
  }

  .time_line > div > div {
    margin: 1em 0;
  }
}
