* {
  box-sizing: border-box;
}

body {
  padding: 1em;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 250px;
  filter: brightness(60%);
}

.title_text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.title_text h1 {
  margin: 0;
  width: 100%;
}

.title_text p {
  margin-top: 0;
}

.thong_tin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thong_tin h6 {
  margin: 0;
}

.text_title {
  text-align: center;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 3em;
}

.text_title > h3,
small {
  margin: 0;
}

.bd_left {
  border-left: 1px solid #ccc;
}

.bd_right {
  border-right: 1px solid #ccc;
}

.thong_tin > div {
  padding: 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.thong_tin > div:hover {
  cursor: pointer;
}

.thong_tin > div > i {
  color: blue;
}

.mt_nn {
  display: grid;
  grid-template-columns: 50% 50%;
}

.nn {
  background-color: #f9f7f7;
  padding: 2em;
}

.tt {
  background-color: #eae8e8;
  padding: 2em;
}

.icons_list > i {
  color: blue;
}

/* ////////////////////////////////  */

.layout_all {
  max-width: 75%;
  margin: 2em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

@media screen and (max-width: 845px) {
  .layout_all {
    max-width: 90%;
  }
}

.layout_all > div {
  border: 1px solid #333;
  padding: 10px;
}

.layout_all > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul small span {
  background-color: rgb(92, 92, 231);
  padding: 3px 5px;
  border-radius: 3px;
  color: white;
}

.layout_all ul {
  margin: 0 0 0 15px;
  padding: 0;
  /* list-style-position: inside; */
}

.list-ic i {
  display: block;
  border: 1px solid blue;
  border-radius: 50%;
  text-align: center;
  color: blue;
  margin: 0;
  padding: 10px;
}

.layo {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center;
  column-gap: 5px;
}

.dam {
  background-color: blue;
  width: 60px;
  height: 3px;
  margin: 0;
  padding: 0;
}

.nhat {
  background-color: #ccc;
  width: 60px;
  height: 3px;
  margin: 0;
  padding: 0;
}

.cc_gt {
  background-color: #e3e0e0;
  margin-top: 2em;
  padding: 2em 0;
}

.contai {
  width: 75%;
  margin: auto;
}

.contai img {
  width: 100%;
}

.cot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  margin-bottom: 2em;
}

.cot > div {
  display: grid;
  grid-template-columns: 1fr 60%;
  column-gap: 1em;
}

.cot h5 {
  margin: 0;
}

.bletf {
  border-left: 1px solid red;
  padding-left: 1em;
}

.cot_don {
  display: grid;
  grid-template-columns: 1fr 60%;
  column-gap: 1em;
  border-top: 1px solid red;
  padding-top: 2em;
}

.da {
  width: 75%;
  margin: 2em auto;
}

.da_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
}

.da_layout img {
  width: 100%;
  height: auto;
}

.da_layout > div {
  border: 1px solid #333;
  border-collapse: collapse;
}

.cv > div {
  padding: 0 0.5em;
  border-top: 1px solid #333;
}

.outlay {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5em;
  font-size: 12px;
}

.outlay > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.outlay > span {
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 3px 5px;
}

.lay_2cot {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.lh {
  background-color: #e3e1e1;
  padding: 3em 0;
  text-align: center;
}

.lh i {
  font-size: 32px;
}

.lh a {
  text-decoration: none;
}
